.containerproyecto{
    margin: 0 auto;
}
.projects{
    margin-top: 3.875rem;
}
@media screen and (min-width: $MQ-L){
    .projects{ 
        margin-top: 7rem;
    }
}
.containerwork{
    display: flex;
}
.event{
    margin-top: 5rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
}
@media only screen and (min-width: $MQ-M){
    .event{
        margin-left: 3.125rem;
    }
}
@media only screen and (min-width: $MQ-L){
    .event{
        margin-left: 6.875rem;
    }
}
.fichaproyecto{
    background: white;
    height: 9.5rem;
    width: 25rem;
    box-shadow:0 7px 20px rgb(99, 98, 98);
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
    
}
@media screen and (min-width: $MQ-M){
    .fichaproyecto{
        width: 33.75rem;
        height: 12rem;
    }
}
@media screen and (min-width: $MQ-L){
    .fichaproyecto{ 
        
        margin-top: 0;
    }
}
.gallery{
    width: 100%;
    height: auto;
    margin: 0 auto;
   
}
@media screen and (min-width: $MQ-M){
    .gallery{
        transform: translateX(100px);
        margin: 0 auto;
        width: 568px;
    }
}
.textodescription{
    background: $c-blu;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.description{
    margin: 0 auto;
    width: 20rem;
    padding: 2rem 0;
}
@media screen and (min-width: $MQ-M){
    .description{
        padding: 0;
        width: 35.25rem;
        margin-top: 4.4rem;
        margin-bottom: 4.4rem;
    }
}
@media screen and (min-width: $MQ-L){
    .description{ 
        max-width: 51.6rem;
    }
}
.backportfolio{
    margin-top: 4rem;
    display: flex;
    margin-left: 1.25rem;
}
@media only screen and (min-width: 768px){
    .backportfolio{
        margin-left: 3.125rem;
    }
}
@media only screen and (min-width: 960px){
    .backportfolio{
        margin-left: 6.875rem;
    }
}
.flechaback{
    width: 1.8rem;
    height: 1rem;
    margin-right: 1rem;
    transform: rotate(90deg);
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project1{
        width: 27rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project1{
        width: 31rem;
    }
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project2{
        width: 28rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project2{
        width: 31.8rem;
    }
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project3{
        width: 21.5rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project3{
        width: 24.9rem;
    }
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project32{
        width: 19.5rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project32{
        width: 23.4rem;
    }
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project33{
        width: 23.3rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project33{
        width: 27rem;
    }
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-project4{
        width: 22.3rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-project4{
        width: 26rem;
    }
}