html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    list-style: none;
    background: #EFD7AB;
    border-bottom: #272838;
    display: flex;
    justify-content: flex-end;
    height: 4.5rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    font-family: Playfair Display, serif;
    font-size: 15px;
    display: flex;
    color: #272838;
    text-decoration: none;
    font-weight: 600;
}
li{
    display: inline-block;
    text-align: right;
    padding: 2rem;
}
#redessociales{
    display: flex;
    padding:2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:-5rem;
    margin-left: 6px;
}
.instagram{
    height: 30px;
    width: 30px;
    margin-left: 3px;
    float: left;
}
.linkedin{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
