body{
    margin:0;
}
.parrafo{
    font-family: futura-pt-bold, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
}
@media only screen and (min-width: 768px){
    .parrafo{
        margin-left: 3.125rem;
    }
}
@media only screen and (min-width: 960px){
   .parrafo{
        margin: 0 auto;
    }
}
.pbold{
    font-family: PlayfairDisplay, serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1.2rem;
}
@media only screen and (min-width: 768px){
    .pbold{
        font-size: 1.25rem;
        margin-left: 3.125rem; 
    }
}
@media only screen and (min-width: 960px){
    .pbold{
        margin-left: 6.875rem; 
    }
}
.plight{
    font-family: futura-pt-bold, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
    color: #666666;
}
@media only screen and (min-width: 768px){
    .plight{
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 960px){
    .plight{
        margin-left: 6.875rem; 
    }
}
.titulo{
    font-family: futura-pt-bold, sans-serif;
    letter-spacing: 3px;
    color: $c-blu;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    
}
@media only screen and (min-width: 768px){
    .titulo{
        font-size: 2.25rem;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 960px){
    .titulo{
        margin-bottom: 4rem;
    }
}
.big{
    font-family:futura-pt-bold, sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    line-height: 1.875rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: $c-blu;
}
@media only screen and (min-width: 768px){
    .big{
        font-size: 2rem;
        line-height: 2.625rem;
    }
}
@media only screen and (min-width: 960px){
    .big{
        font-size: 3rem;
        line-height: 3.625rem;
    }
}
.latoh3{
    font-family:futura-pt-bold, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.875rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: $c-blu;  
}
@media only screen and (min-width: 768px){
    .latoh3{
        font-size: 24px;
        line-height: 2.625rem;
    }
}
@media only screen and (min-width: 960px){
    .latoh3{
        font-size: 24px;
        line-height: 3.625rem;
    }
}

.subtitle {
    font-family: futura-pt-bold, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: auto;
    letter-spacing: 3px;
    margin-bottom: 0px;
    color: $c-blu;
    

    
}
@media only screen and (min-width: 768px){
    .subtitle{
        font-size: 3rem;
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 960px){
    .subtitle{
        font-size: 5rem;
        margin-bottom: 25px;
        margin-top: 0px;
    }
}