body{
    margin:0;
}
.parrafo{
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    /*margin-left: 1.25rem;*/
    text-align: left;
}
.pbold{
    font-family: montserrat, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
    margin-left: 1.2rem;
    color: $c-grey;
}
@media only screen and (min-width: 768px){
    .pbold{
        font-size: 1.25rem;
    }
}
.plight{
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
    color: #666666;
}
@media only screen and (min-width: 768px){
    .plight{
        font-size: 1.25rem;
    }

}
.titulo{
    font-family: montserrat, sans-serif;
    letter-spacing: 3px;
    color:$c-grey;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    
}
@media only screen and (min-width: 768px){
    .titulo{
        font-size: 2.25rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
}
@media only screen and (min-width: 960px){
    .titulo{
        margin-bottom: 4rem;
    }
}
.big{
    font-family:montserrat, sans-serif;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 2.25rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: $c-blu;
}
@media only screen and (min-width: 768px){
    .big{
        font-size: 3rem;
        line-height:4rem;
    }
}
@media only screen and (min-width: 960px){
    .big{
        font-size: 3rem;
        line-height: 4rem;
    }
}
.latoh3{
    font-family:montserrat, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.875rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: $c-grey;  
}
@media only screen and (min-width: 768px){
    .latoh3{
        font-size: 24px;
        line-height: 2.625rem;
    }
}
@media only screen and (min-width: 960px){
    .latoh3{
        font-size: 24px;
        line-height: 3.625rem;
    }
}

.subtitle {
    font-family:montserrat, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: auto;
    letter-spacing: 3px;
    margin-bottom: 0px;
    color: $c-grey;
    

    
}
@media only screen and (min-width: 768px){
    .subtitle{
        font-size: 3rem;
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 960px){
    .subtitle{
        font-size: 5rem;
        margin-bottom: 25px;
        margin-top: 0px;
    }
}