@media screen and (min-width: $MQ-L){
.container-project{
    margin-bottom:6rem;
    }
}
.caja-proyecto{
    margin-bottom:5rem;
}
@media screen and (min-width: $MQ-M){
.caja-proyecto{
    align-items: center;
    }
}
@media screen and (min-width: $MQ-L){
    .caja-proyecto{
        display:flex;
        justify-content: center;
        padding: 0 10rem;
    }
}
.img-proyecto{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
   
}
@media screen and (min-width: $MQ-M){
    .img-proyecto{
        width: 600px;
    }
}
@media screen and (min-width: $MQ-L){
    .img-proyecto{
        margin: 0px;
    }
}
.caja-ficha{
    height: 10.5rem;
    text-align: center;
    margin: 0 auto;
    
}
@media screen and (min-width: $MQ-M){
    .caja-ficha{
        width: 24rem;
        height: 15rem;
    }
}
@media screen and (min-width: $MQ-L){
    .caja-ficha{ 
        margin-top: 0;
        padding: 0 3rem;
    }
    .row{
        flex-direction: row-reverse;
    }
}
.text-boton{
    font-family: Playfair Display, serif;
    font-weight: 100;
    padding: 15px 30px;
    background-color: $c-blu;
    border-radius: 50px;
    font-size: 14px;
    color: $c-nude;
    text-align: center;
    margin: 3rem auto;
}
.text-boton:hover{
    color: $c-blu;
    background-color: $c-nude;
}
@media screen and (min-width: $MQ-M){
    .text-boton{
        top: 8.3rem;
        font-size: 1.125rem;
    }
}
@media screen and (min-width: $MQ-L){
    .text-boton{
        margin-top: 0px;
        font-size: 1.125rem;
    }
    
}
