.container-project{
    margin-bottom:6rem;
    margin-top: 5rem;
    }
@media screen and (min-width: $MQ-L){
.container-project{
    margin-top: 0;
    }
}
.caja-proyecto{
    margin-bottom:5rem;
}
@media screen and (min-width: $MQ-M){
.caja-proyecto{
    align-items: center;
    }
}
@media screen and (min-width: $MQ-L){
    .caja-proyecto{
        display:flex;
        justify-content: center;
        padding: 0 10rem;
    }
}
.img-proyecto{
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto;
   
}
@media screen and (min-width: $MQ-M){
    .img-proyecto{
        width: 600px;
    }
}
@media screen and (min-width: $MQ-L){
    .img-proyecto{
        margin: 0px;
    }
}
.header_proyecto{
    display: flex;
    width: 90%;
    height: 500px;
    margin: 1rem auto 0;
    object-fit: cover;
    border-radius: 50px; 

}
.caja-ficha{
    height: 10.5rem;
    text-align: center;
    margin: 0 auto;
    
}
@media screen and (min-width: $MQ-M){
    .caja-ficha{
        width: 24rem;
        height: 15rem;
    }
}
@media screen and (min-width: $MQ-L){
    .caja-ficha{ 
        margin: 0;
        padding: 0 3rem;
    }
    .row{
        flex-direction: row-reverse;
    }
}
.text-boton{
    font-family: Playfair Display, serif;
    font-weight: 300;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ffffff;
    background-color: $c-nude;
    font-size: 14px;
    
    text-align: center;
    margin: 0 auto;
}
.text-boton:hover{
    color: $c-nude;
    border: solid 1px $c-nude;
    background-color: transparent;
}
@media screen and (min-width: $MQ-M){
    .text-boton{
        font-size: 1.125rem;
    }
}
@media screen and (min-width: $MQ-L){
    .text-boton{
        margin-top: 0px;
        font-size: 1.125rem;
    }
    
}
