.myname {
  font-family: PlayfairDisplay, serif;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0;
  margin: 0rem;
  padding: 0rem;
}

@media only screen and (min-width: $MQ-M) {
  .myname {
    font-size: 3rem;
  }
}

@media only screen and (min-width: $MQ-L) {
  .experience-container {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 3rem auto;
    justify-content: space-between;
  }
}

.about {
  font-family: montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.25rem;
  max-width: 90%;
  text-align: left;
  margin-bottom: 4rem;
  margin: 2rem auto;
}

@media only screen and (min-width: $MQ-M) {
  .about {
    font-size: 1rem;
    max-width: 70%;
  }
}
@media only screen and (min-width: $MQ-L) {
  .about {
    margin: 2rem auto;
  }
}
.items {
  display: flex;
  flex-wrap: wrap;
}

.v {
  background: $c-grey;
  width: 2px;
  height: 2.6rem;
  margin-top: -3.9rem;
  margin-left: 4rem;
}
@media only screen and (min-width: $MQ-M) {
  .v {
    margin-top: -4.2rem;
    margin-left: 4.5rem;
  }
}
.container-grey {
  background: #f5f5f5;
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.container-gost {
  display: block;
  background: #f5f5f5;
  margin-top: 56px;
  padding: 25px 0;
}
@media only screen and (min-width: $MQ-L) {
  .container-gost {
    display: block;
    background: transparent;
    padding: 0;
    margin-top: 0;
  }
}
.nude {
  color: $c-nude;
}
@media only screen and (min-width: $MQ-L) {
  .pink {
    color: $c-nude;
  }
}

@media only screen and (min-width: $MQ-L) {
  .back {
    margin-left: 0;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: $MQ-L) {
  .section-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #f5f5f5;
    padding: 56px;
  }
}
.container_skills {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
@media screen and (min-width: $MQ-L) {
  .container_skills {
    padding: 0px;
  }
}
.container-boton {
  display: block;
  margin: 0;
}
@media screen and (min-width: $MQ-M) {
  .csIntroDivider-about {
    width: 19.2rem;
  }
}
@media screen and (min-width: $MQ-L) {
  .csIntroDivider-about {
    width: 22.8rem;
  }
}
.box_skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icons_skills {
  margin-right: 1rem;
}
.experience {
  padding-left: 25px;
  margin: 56px 0;
}
@media screen and (min-width: $MQ-L) {
  .experience {
    padding: 0;
  }
}
.container_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: 100%;
  height: auto;
}
.fecha_item {
  width: 44px;
  height: 100%;
}
.line {
  background-color: black;
  width: 1px;
  height: auto;
  margin: 0 8px;
}
.info_item {
  width: 80%;
  height: 100%;
}
.container_fecha {
  display: flex;
  flex-direction: column;
}
.info_item {
  width: auto;
  margin-left: 0;
}
.clients {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}
