.myname{
    font-family: PlayfairDisplay, serif;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 0;
    margin: 0rem;
    padding: 0rem;
}

@media only screen and (min-width: $MQ-M){
    .myname{
        font-size: 3rem;
    }
}
.experience-container{
    margin-top: 5.5rem;    
}
@media only screen and (min-width: $MQ-L){
    .experience-container{
        display: flex;
        margin-bottom:8rem; 
        max-width: 1024px;
        margin: 10rem  auto;
    }
}
.items{
    display: flex;
    flex-wrap: wrap;
}
.experience-item{
    display: block;
    margin-bottom: 2rem;
}
.sector{
    display: block;
    margin-left: 3.5rem;
}
@media only screen and (min-width: $MQ-M){
    .sector{
        margin-left:4.5rem;
    }
}
.place{
    margin-bottom: 0rem;
}
.grado{ 
    margin-top: 0rem;   
}
.fecha{
    margin-top: -4rem;
     
}
.v{
    background: $c-blu;
    width: 2px;
    height: 2.6rem;
    margin-top:-3.9rem;
    margin-left:4rem;
}
@media only screen and (min-width: $MQ-M){
    .v{
        margin-top:-4.2rem;
        margin-left:6.5rem;
    }
}
@media only screen and (min-width: $MQ-L){
    .v{
        margin-left:10.2rem;
    }
}
.container-blue{
    margin-top: 111px;
    background: $c-blu;
    margin-top: 4rem;
}
@media only screen and (min-width: $MQ-L){
    .caja{
        display: block; 
        background: transparent;
        margin: 0;
    }
}
.container{
    display: block;
    padding: 0.625rem 0;
}
@media only screen and (min-width: $MQ-L){
    .container{
        padding:0;
    }
}
.nude{
    color: $c-nude;
}
@media only screen and (min-width: $MQ-L){
    .pink{
        color: $c-nude;
    }
}
@media only screen and (min-width: $MQ-L){
    .job{
        color: $c-blu;
    }
}
.skills{
    display: flex;
}
.lenguage{
    flex-direction:column;
}
@media only screen and (min-width: $MQ-L){
    .lenguage{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: $MQ-L){
    .back{
        margin-left:0;  
        line-height: 1.5rem; 
    }
}
@media only screen and (min-width: $MQ-L){
    .section-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: $c-blu;
    }
}
.downloadcv{
    background: white;
    box-shadow:0 7px 20px rgb(99, 98, 98);
    height: 10.5rem;
    width: 20rem;
    text-align: center; 
    margin: 0 auto;
    position: relative;
    top: 1.8rem;
    padding-top: 0.5rem;
}
@media screen and (min-width: $MQ-M){
    .downloadcv{
        height: 10.75rem;
        width: 24rem;
    }
}
@media screen and (min-width: $MQ-L){
    .downloadcv{
        width: 33.75rem;
        height: 15rem;
    }
}
.container-boton{
display: block;
margin: 0;
}
@media screen and (min-width: $MQ-M){
    .csIntroDivider-about{
        width: 19.2rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-about{
        width: 22.8rem;
    }
}
.container-projects{
    margin-top: 5rem;
}