@media screen and (min-width: $MQ-M){
    .csIntroDivider-home{
        width: 15.6rem;
    }
}
@media screen and (min-width: $MQ-L){
    .csIntroDivider-home{
        width: 19.5rem;
    }
}
.container-projects{
    margin-top: 5rem;
}
@media screen and (min-width: $MQ-M){
.container-projects{
    margin-top: 10rem;
}
}

.introScrollLink{
    animation-duration: 1.5s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    background-image: url(../img/flecha.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    margin: auto;
    cursor: pointer;
    left: 0;
    right: 0;
    width: 48px;
}



@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
	-moz-animation: #{$animation};
	-ms-animation: #{$animation};
	animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-5px));
  }
}
.bounce {
    @include animation(bounce 1s infinite);
  }

