.container-proyecto{
    margin: 0 auto;
}
.projects{
    margin-top: 3.875rem;
}
@media screen and (min-width: $MQ-L){
    .projects{ 
        margin-top: 7rem;
    }
}
.container-work{
    display: flex;
}
.event{
    margin-top: 5rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
}
@media only screen and (min-width: $MQ-M){
    .event{
        margin-left: 3.125rem;
    }
}
@media only screen and (min-width: $MQ-L){
    .event{
        margin-left: 6.875rem;
    }
}
.ficha-proyecto{
    text-align: center;
    margin: 0 auto;
    padding: 2rem 1rem 0;
    margin-bottom: 2rem;
    width: 90%;
    
}
@media screen and (min-width: $MQ-M){
    .ficha-proyecto{
        width: 33.75rem;
    }
}
@media screen and (min-width: $MQ-L){
    .ficha-proyecto{ 
        margin-top: 0;
    }
}
.gallery{
    width: 100%;
    height: auto;
    margin: 0 auto;
   
}
.photoweb{
    width: 100%;
    margin-bottom: 4rem;
}
@media screen and (min-width: $MQ-M){
    .gallery{
        transform: translateX(100px);
        margin: 0 auto;
        width: 568px;
    }
    .photosweb{
        width: 80%;
        max-width: 1170px;
        margin: 0 auto;
        text-align: center;
    }
    .photoweb{
        vertical-align: top;
        width: 45%;
        height: auto;
        margin-right: 2rem;
    }
}

.texto-description{
    background:#f5f5f5;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.description{
    margin: 0 auto;
    width: 50%;
    padding: 2rem 0;
    text-align: center;
}
@media screen and (min-width: $MQ-M){
    .description{
        padding: 0;
        width: 50%;
        margin-top: 4.4rem;
        margin-bottom: 4.4rem;
    }
}
@media screen and (min-width: $MQ-L){
    .description{ 
        max-width: 50%;
    }
}
.back-portfolio{
    margin:4rem 0;
    display: flex;
    margin-left: 1.25rem;
}
@media only screen and (min-width: 768px){
    .back-portfolio{
        margin-left: 3.125rem;
    }
}
@media only screen and (min-width: 960px){
    .back-portfolio{
        margin-left: 6.875rem;
    }
}
.flecha-back{
    width: 1.8rem;
    height: 1rem;
    margin-right: 1rem;
    transform: rotate(90deg);
}