
.container-work{
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    margin-top:5rem;
}
@media screen and (min-width: $MQ-M){
    .center{
        margin: auto;
    }
}

    .about{
        font-family: futura-pt-bold, sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        margin-left: 1.25rem;
        max-width: 90%;
        text-align: center;
        margin-bottom: 4rem;
        margin:2rem auto;
    }

@media only screen and (min-width: 768px){
    .about{
        font-size: 1rem;
        max-width: 70%;
    }
}
@media only screen and (min-width: 960px){
   .about{
        margin: 2rem auto;
    }
}
.work{
    margin: auto;
}
.padding{
    padding-top: 3rem;
}
