.container-work {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: rem;
}
@media screen and (min-width: $MQ-M) {
  .center {
    margin: auto;
  }
}

.work {
  margin: auto;
}
.padding {
  padding-top: 3rem;
}
